.Question {
    width: auto;
    margin: auto;
    margin-top : 5px;
    margin-bottom : 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#eeee;
    background-color: darkgray;
    border-radius : 7px;
    padding:5px;
}