.DropDown {
    border-radius:7px;
    width:100px;
    margin:auto;
    border-style: solid;
    border-width: 1px;
    border-radius:7px;
    border-color:#eeee;
    background-color:gray;
}

.DropDownItem {
    width:auto;
    background-color:gray;
    color:#eeee;
}

.DropDownItem:hover {
    background-color:#eeee;
    color:gray;
}

.DropDownItemSelected {
    width:auto;
    background-color:#eeee;
    color:gray;
}

.DropDownCollapse {
    display: none;
}