.Tick {
    background-color:gray;
    border-radius:7px;
    width:fit-content;
    margin:auto;
}

.TickItem {
    margin:4px;
    padding:4px;
    display: inline-block;
}

.TickBox {
    border-width: 1px;
    border-style: solid;
    border-color:black;
    margin:auto;
    background-color: white;
    height:10px;
    width:10px;
}

.TickBoxSelected {
    border-width: 1px;
    border-style: solid;
    border-color:white;
    margin:auto;
    background-color:black;
    height:10px;
    width:10px;
}