.Radio {
    background-color:gray;
    border-radius:7px;
    width:fit-content;
    margin:auto;
    border-style: solid;
    border-width: 1px;
    border-radius:7px;
    border-color:#eeee
}

.RadioItem {
    margin:4px;
    padding:4px;
    display: inline-block;
}

.RadioBtn {
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color:black;
    margin:auto;
    background-color: white;
    height:10px;
    width:10px;
}

.RadioBtnSelected {
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color:white;
    margin:auto;
    background-color:black;
    height:10px;
    width:10px;
}