.Form {
    font-weight:580;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkgray;
    background-color: gray;
    text-align:center;
    margin:auto;
    width:fit-content;
    border-radius: 7px;
    padding: 5px;
}